page-edit-profile {
    .profile-image-wrapper {
        text-align: center;
        margin: 20px 0;
        position: relative;
        .profile-image {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            display: inline-block;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            border: 5px solid map_get($colors,logo_border);
        }
        .cameraOutline{
            font-size: 44px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            cursor: pointer;
        }
    }
    .upperDiv{
        background: map_get($colors,theme_color);
    }
    .item-block{
        border: none;
    }
    .label_here{
        color: black !important;
        font-size: 16px !important;
    }
    ion-input{
        font-size: 16px !important;
    }
    .list-md {
        margin: 15px 0 16px;
    }
    .toolbar-background {
        background-color:  map_get($colors,theme_color) !important;
    }

    .editBtn{
        text-align: left;
        cursor: pointer;
        color: map_get($colors,theme_font);
    }

    .editBtn:hover { 
        color: map_get($colors,logo_border) !important;
    }
}
