<ion-content *ngIf="!mobile">
  <ion-grid fixed>
    <ion-card no-margin margin-bottom class="full-width">
      <ion-item class="border-bottom">
        <h1>Places</h1>
        <ion-row>
          <ion-col>
            <ion-icon tappable menuToggle style="zoom:1.5;" name="menu"></ion-icon>
          </ion-col>

          <ion-col>
            <div class="pull-right">
              <ion-icon name="cube" color="primary"></ion-icon>
              <span tappable (click)="functionCategory()">Add a Category</span>
            </div>
            <div class="pull-right">
              <ion-icon name="pin" color="primary"></ion-icon>
              <span tappable (click)="functionPlace(null, false, userType)">Add a Landmark &nbsp;</span>
            </div>
          </ion-col>
        </ion-row>
    
      </ion-item>
      <ion-item class="animated fadeIn">
        <table *ngIf="places" datatable [dtOptions]="dtOptions">
          <thead>
            <tr>
              <th>Ratings</th>
              <th>Name</th>
              <th>Category</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of places" text-center center>
              <td>
                <div *ngIf="item.averageRate == 0">
                  <ion-icon color="dark" id="star1" name="star-outline"></ion-icon>
                  <ion-icon color="dark" id="star2" name="star-outline"></ion-icon>
                  <ion-icon color="dark" id="star3" name="star-outline"></ion-icon>
                  <ion-icon color="dark" id="star4" name="star-outline"></ion-icon>
                  <ion-icon color="dark" id="star5" name="star-outline"></ion-icon>
                  {{item.peopleRated}} Reviews
                </div>
                <div *ngIf="item.averageRate == 1">
                  <ion-icon color="dark" id="star1" name="star"></ion-icon>
                  <ion-icon color="dark" id="star2" name="star-outline"></ion-icon>
                  <ion-icon color="dark" id="star3" name="star-outline"></ion-icon>
                  <ion-icon color="dark" id="star4" name="star-outline"></ion-icon>
                  <ion-icon color="dark" id="star5" name="star-outline"></ion-icon>
                  {{item.peopleRated}} Reviews
                </div>
                <div *ngIf="item.averageRate == 2">
                  <ion-icon color="dark" id="star1" name="star"></ion-icon>
                  <ion-icon color="dark" id="star2" name="star"></ion-icon>
                  <ion-icon color="dark" id="star3" name="star-outline"></ion-icon>
                  <ion-icon color="dark" id="star4" name="star-outline"></ion-icon>
                  <ion-icon color="dark" id="star5" name="star-outline"></ion-icon>
                  {{item.peopleRated}} Reviews
                </div>
                <div *ngIf="item.averageRate == 3">
                  <ion-icon color="dark" id="star1" name="star"></ion-icon>
                  <ion-icon color="dark" id="star2" name="star"></ion-icon>
                  <ion-icon color="dark" id="star3" name="star"></ion-icon>
                  <ion-icon color="dark" id="star4" name="star-outline"></ion-icon>
                  <ion-icon color="dark" id="star5" name="star-outline"></ion-icon>
                  {{item.peopleRated}} Reviews
                </div>
                <div *ngIf="item.averageRate == 4">
                  <ion-icon color="dark" id="star1" name="star"></ion-icon>
                  <ion-icon color="dark" id="star2" name="star"></ion-icon>
                  <ion-icon color="dark" id="star3" name="star"></ion-icon>
                  <ion-icon color="dark" id="star4" name="star"></ion-icon>
                  <ion-icon color="dark" id="star5" name="star-outline"></ion-icon>
                  {{item.peopleRated}} Reviews
                </div>
                <div *ngIf="item.averageRate == 5">
                  <ion-icon color="dark" id="star1" name="star"></ion-icon>
                  <ion-icon color="dark" id="star2" name="star"></ion-icon>
                  <ion-icon color="dark" id="star3" name="star"></ion-icon>
                  <ion-icon color="dark" id="star4" name="star"></ion-icon>
                  <ion-icon color="dark" id="star5" name="star"></ion-icon>
                  {{item.peopleRated}} Reviews
                </div>  
              </td>
              <td class="dataTitle">{{ item.name }}</td>
              <td>
                <span>{{item.category}}</span>
              </td>
              <td><button ion-button (click)="viewPlace(item, userType)">View</button></td>
            </tr>
          </tbody>
          </table>
      </ion-item>
      </ion-card>
  </ion-grid>
</ion-content>

<ion-header *ngIf="mobile">
  <ion-navbar padding color="navbar_color" >
    <ion-row>
      <ion-col col-3>
        <ion-icon tappable (click)="toggleMenu()" style="zoom:1.5;" name="menu"></ion-icon>
      </ion-col>

      <ion-col col-9>
        <ion-searchbar (ionInput)="getItems($event)" placeholder="Search for a  Place"></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>

<ion-content padding *ngIf="mobile">
  <ion-list *ngFor="let item of places">
    <ion-item (click)="functionPlace(item.key, true, userType)" class="border-bottom">
      <h2>{{item.name}} &nbsp;<span *ngIf="item.status" class="dot"></span></h2>
      <div id="inactive" *ngIf="item.status == 2">Inactive</div>
      <div id="active" *ngIf="item.status == 1">Active</div>
    </ion-item>
  </ion-list>
</ion-content>