<ion-content>
    <div class="subBanner"></div>
  <ion-grid fixed>
      <ion-row>
        <ion-col col-4>
          <ion-searchbar (ionInput)="getItems($event)" placeholder="Search For News Title"></ion-searchbar>
        </ion-col>
        <ion-col col-2>
          <button ion-button outline color="logo_border" (click)="addNews()">Add News</button>
        </ion-col>
      </ion-row>
    <ion-row>
      <ion-card ion-col *ngFor="let item of data" col-6 col-md-4 col-lg-4>

        <img *ngIf="item.image" [src]="item.image">
        <img *ngIf="!item.image" src="../../assets/imgs/noImage.jpg">

        
        <ion-card-content>
          <ion-card-title>{{item.title}}</ion-card-title>
          <ion-row>
            <ion-col center text-center>
              <p>by: {{item.name}}</p>
            </ion-col>
            <ion-col center text-center>
              <span>{{item.date}}</span>
            </ion-col>
          </ion-row>
          <div id="content">{{item.description}}</div>
        </ion-card-content>

        <ion-row>
          <ion-col>
            <button (click)="update(item.key)" ion-button color="logo_border" clear small icon-start>
              <ion-icon name="md-brush"></ion-icon>
              Update
            </button>
          </ion-col>
          <ion-col text-right>
            <button ion-button (click)="remove(item.key)" color="danger" clear small icon-start>
              <ion-icon name="ios-trash-outline"></ion-icon>
              Remove
            </button>
          </ion-col>
        </ion-row>
      
      </ion-card>
    </ion-row>

  </ion-grid>
</ion-content>

