<ion-content padding class="animated fadeIn common-bg">

    <ion-buttons end>
      <button ion-button tappable (click)="closeModal()">
        <ion-icon name="ios-close-circle-outline"></ion-icon>
      </button>
    </ion-buttons>
    <ion-item>
      <ion-label stacked>News Title</ion-label>
      <ion-input *ngIf="!status" type="text" placeholder="Title" name="Title" #postTitle></ion-input>
      <ion-input *ngIf="status" type="text" placeholder="Title" name="Title" [(ngModel)]="data.title" ></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label stacked>News Content</ion-label>
      <ion-textarea *ngIf="!status" placeholder="Description" name="Description" #postDesc></ion-textarea>
      <ion-textarea *ngIf="status" placeholder="Description" name="Description" [(ngModel)]="data.description" ></ion-textarea>  
    </ion-item>
  
    <ion-item>
      <label>
        <input type="file" (change)="detectFiles($event)">
      </label>
    </ion-item>

    <ion-item *ngIf="status && data.image">
      <img class="dataImage" [src]="data.image">
    </ion-item>
  
    <ion-item>
      <ion-label stacked>Date</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="myDate"></ion-datetime>

    </ion-item>
  
    <button *ngIf="!status" color="primary" ion-button round block center (click)="savePost()">Save</button>
    <ion-row *ngIf="status">
      <ion-col>
        <button color="primary" ion-button round block center (click)="updatePost()">Update</button>
      </ion-col>

      <ion-col>
        <button color="danger" ion-button round block center (click)="removePost()">Remove</button>
      </ion-col>
    </ion-row>
</ion-content>
