page-admin {
    ion-list {
    border-radius: 1rem;
    overflow: hidden;

    ion-item,
    .item:first-child,
    .item:last-child {
        border: none;
    }

    ion-datetime {
        padding-left: 0;
        }
    }

    .userProfilePic{
        width: 64px;
        height: 64px;
        border-radius: 50%;
        display: inline-block;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border: 2px solid;
    }

    ion-card{
        margin-top: 5% !important;
    }
}
